header
{
    color: white;
    background: linear-gradient(to right, red, purple, yellow);
    padding: 2% 0 2% 0%;
    margin: -1.1%;
}


h1
{
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px;
}

h2
{
    font-size: 1.5em;
    font-weight: bold;
}

footer 
{
    text-align: center;
    background-color: rgb(155, 155, 155, 0.3);
    padding: 2%;
    color: white;
    background: linear-gradient(to right, red, purple, yellow);
    margin: 0;
}